# Copyright (c) 2021 YuLong Yao <feilongphone@gmail.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_GD32F30X

source "soc/arm/gd_gd32/gd32f30x/Kconfig.defconfig.gd32*"

config SOC_SERIES
	default "gd32f30x"

endif # SOC_SERIES_GD32F30X
